body{
  background:black;
  }
h1,  h2{
    color: white;
    border-bottom: 1px solid white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
  }
  h2{
    margin-bottom: 20px;
  }
button{
  border: 2px solid white;
  font-size: 1em;
  background: transparent;
  margin: 5px;
  color: white;
}
button:hover{
  background: rgba(255,255,255,.6);
  cursor: url('../img/pizzacursor.png'), auto;
}
a p{
  color: white;
}

#sideBar{
  position: fixed;
  left:0px:
  top: 20%;
  color:white !important;
  padding: 20px;
  text-transform: uppercase;
}
#sideBar a p:hover{
  background: rgba(0,0,0,0.5) !important;
}
#beginNewPizza{
  margin-top: 75%;
}
#priceDisplay button{
  display: block;
}
#priceDisplay{
  max-width: 100%;
}
.container{
  max-width: 800px;
}

.descriptions{
  text-align: left;
  color: white
}
.descriptions span{
  font-weight: bold;
}
.descriptionsRow, .optionsRow{
  padding: 45px;
  background: rgba(0,0,0,.8);
}
.optionsColumn{
  border-top: 1px solid white;
 padding-top: 30px;

}

.row{
  margin: 0 auto;
}
#pizzaBackground{
  position: fixed;
  top:auto;
  z-index: -44;
  max-width: 100%;
}
#play{
  color:white;
  font-size: 2em;
  bottom: 0;
  width: 100%;
  margin-top: 75%;
  display:none;
}
#total{
  border-bottom: 1px solid;

}

#divider{
  margin: 0px;
}
.container{
  text-align: center;
}
.clicked{
  background: white;
  color: black;
}
#makeAnotherPizza{

}
